#blog-browser {
    padding: var(--margin)
}

#blog-browser-content {
    display: flex;
    gap: var(--margin);
    margin: var(--margin);
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: var(--margin);
    height: fit-content;
}

.blog-browser-item {
    background-color: var(--post-background-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--post-box-shadow);
    max-width: calc(0.75 * 33.333% - var(--margin)); /* Three items per row */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: var(--default-transition-duration);
    cursor: pointer;

}
.blog-browser-item:hover {
    transform: scale(1.05);
}

.blog-browser-item img {
    max-width: 100%;
    aspect-ratio: 4/3;
    object-fit:cover;
    max-height: 250px;
    height: auto;
    border-radius: var(--border-radius);
}

.blog-browser-item h3 {
    font-size: calc(var(--subheading-font-size) * 0.75);
    line-height: 1.2;
    color: var(--heading-color);
    margin-top: 15px;
    margin-bottom: 0;

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.blog-browser-item .author,
.blog-browser-item .date {
    font-size: 0.875rem;
    margin-bottom: 0;
    color: var(--author-color);
    font-style: italic;
}

.blog-browser-item .author {
    margin-top: 5px;
}

.blog-browser-item .date {
    color: var(--date-color);
    margin-top: 5px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#buttons button {
    background-color: var(--link-color);
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--default-transition-duration);

    padding: calc(0.5 * var(--padding));
}
#buttons button:hover {
    background-color: var(--heading-color);
}